<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="GUI.SiteMaster" EnableViewState="true" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - SGPT Software</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">SGPT</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/">
                            <asp:Label runat="server" ID="masterLblInicio">Inicio Default</asp:Label>
                            </a></li>
                        <%
                            BE.Usuario usuario = (BE.Usuario) Session["usuario"];

                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("PADM")) { %>
                                <li><a runat="server" href="~/soporte/patentes/patenteAbm">
                                    <asp:Label runat="server" ID="masterLblSeguridad">Seguridad Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("UADM")) { %>
                                <li><a runat="server" href="~/soporte/usuarios/usuarioSistemaAbm">
                                    <asp:Label runat="server" ID="masterLblUsuarios">Usuario Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("BIT")) { %>
                                <li><a runat="server" href="~/soporte/bitacora/bitacora">
                                    <asp:Label runat="server" ID="masterLblBitacora">Bitacora Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("BKP")) { %>
                                <li><a runat="server" href="~/soporte/backup/BackupAbm">
                                    <asp:Label runat="server" ID="masterLblBkp">BackUp/Restore Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("IADM")) { %>
                                <li><a runat="server" href="~/soporte/idioma/idiomaAbm">
                                    <asp:Label runat="server" ID="masterLblIdioma">Idioma Default</asp:Label>
                                    </a></li>
                        <% } %>

                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("PQADM")) { %>
                                <li><a runat="server" href="~/dominio/paquete/paqueteAbm">
                                    <asp:Label runat="server" ID="masterLblPaquete">Paquetes Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("HADM")) { %>
                                <li><a runat="server" href="~/dominio/hotel/hotelAbm">
                                    <asp:Label runat="server" ID="masterLblHotel">Hoteles Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("VADM")) { %>
                                <li><a runat="server" href="~/dominio/vuelo/vueloAbm">
                                    <asp:Label runat="server" ID="masterLblVuelo">Hoteles Default</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("HADM")) { %>
                                <li><a runat="server" href="~/dominio/marketing/Calculo">
                                    <asp:Label runat="server" ID="masterLblCalculo">Actualizar calculo de Hoteles</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario != null && usuario.objPatente.EsPatenteValidaParaElUsuario("RVW")) { %>
                                <li><a runat="server" href="~/dominio/cliente/resenaAbm">
                                    <asp:Label runat="server" ID="masterLblResena">Crear Reseña</asp:Label>
                                    </a></li>
                        <% } %>
                        <%
                            if ( usuario == null ) { %>
                                <li><a runat="server" href="~/dominio/usuario/registrarUsuario">
                                    <asp:Label runat="server" ID="masterLblRegistrarUsuario">Registrar Usuario Default</asp:Label>
                                    </a></li>
                        <% } %>
                    </ul>

                    <ul class="nav navbar-nav">
                            <asp:DropDownList ID="lstIdiomas" runat="server" CssClass="form-control" OnSelectedIndexChanged="lstIdiomas_SelectedIndexChanged" AutoPostBack="true" ></asp:DropDownList>
                    </ul>
                        <% BE.Usuario u = (BE.Usuario) Session["usuario"];
                            if ( usuario != null) {  %>
                                Bienvenido <%u.Alias.ToString();%>! 
                        <% } %>

                    <asp:LoginName id="LoginName1" runat="server"  FormatString ="Bienvenido, {0}" />

                    <div class="form-group">
                        <asp:Button ID="btnLogout" UseSubmitBehavior="false" OnClick="btnLogout_Click"  Text="Desconectar" class="btn btn-link " runat="server" />
                    </div>

                </div>
                
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - SGPT Software</p>
            </footer>
        </div>

    </form>
</body>
</html>
